{% extends "::base.html.twig" %}

{% block title %}

    {% trans %}scheme.selection.title{% endtrans %}

{% endblock %}

{% block breadcrumb %}

    <div id="global-breadcrumb" class="header-context">

        <nav role="navigation">
            <ol class="group">
                <li><a href="{{ path('transform_core_app_scheme_selection') }}">{% trans %}scheme.selection.breadcrumb{% endtrans %}</a></li>
            </ol>
        </nav>

    </div>

{% endblock %}

{% block heading %}

    <h1 class="form-title heading-large">{% trans %}scheme.selection.title{% endtrans %}</h1>

{% endblock %}

{% block body %}

    <div class="text">
        {% for i in range(0,'scheme.selection.introduction'|translationLength) -%}
            <p>{{('scheme.selection.introduction.'~i)|trans}}</p>
        {%- endfor %}
    </div>


    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

    {{ form_errors(form) }}

        {% for child in form.children.name.children %}

            {%  set key =  ('scheme.selection.'~(child.vars.value|replace({' ':''}))) %}
            <div class="text">
                {{ key | trans}}
            </div>

            {{ (form_row(child))}}

        {% endfor %}
    </div>

    {{ form_row(form.update) }}

    {{ form_end(form) }}
{% endblock %}
