
<div id="global-breadcrumb" class="header-context">

    <nav role="navigation">
        <ol class="group">
            <li><a href="{{ path('transform_core_app_profile_edit') }}">{% trans %}profile.breadcrumb{% endtrans %}</a></li>
            <li><a href="{{ path('transform_core_app_eligibility') }}">{% trans %}eligibility.breadcrumb{% endtrans %}</a></li>
            <li><a href="#">{% trans %}education.breadcrumb{% endtrans %}</a></li>
            <li><a href="{{ path('transform_core_app_diversity') }}">{% trans %}diversity.breadcrumb{% endtrans %}</a></li>
            <li><a href="{{ path('transform_core_app_socio_economic') }}">{% trans %}socioEconomic.breadcrumb{% endtrans %}</a></li>
            <li><a href="{{ path('transform_core_app_review') }}">{% trans %}review.breadcrumb{% endtrans %}</a></li>
        </ol>
    </nav>
    
</div>
