{% extends "::base.html.twig" %}

{% block title %}

    {% trans %}diversity.title{% endtrans %}

{% endblock %}

{% block heading %}

    <p class="step">{% trans %}diversity.step{% endtrans %}</p>

    <h1 class="form-title heading-large">{% trans %}diversity.title{% endtrans %}</h1>

{% endblock %}

{% block breadcrumb %}

    <div id="global-breadcrumb" class="header-context">

        <nav role="navigation">
            <ol class="group">
                <li><a href="{{ path('transform_core_app_account') }}">{% trans %}account.breadcrumb{% endtrans %}</a></li>
                <li><a href="{{ path('transform_core_app_profile_edit') }}">{% trans %}profile.breadcrumb{% endtrans %}</a></li>
                <li><a href="{{ path('transform_core_app_eligibility') }}">{% trans %}eligibility.breadcrumb{% endtrans %}</a></li>
                <li><a href="#">{% trans %}education.breadcrumb{% endtrans %}</a></li>
                <li class="active">{% trans %}diversity.breadcrumb{% endtrans %}</li>
            </ol>
        </nav>
    
    </div>

{% endblock %}

{% block body %}

    <div class="text">

        {% for i in range(0,'diversity.paragraph'|translationLength) -%}
            <p>{{('diversity.paragraph.'~i)|trans}}</p>
        {%- endfor %}

    </div>

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}
