{% extends "::base.html.twig" %}

{% block title %}

    {% trans %}eligibility.title{% endtrans %}

{% endblock %}

{% block heading %}

    <p class="step">{% trans %}eligibility.step{% endtrans %}</p>

    <h1 class="form-title heading-large">{% trans %}eligibility.title{% endtrans %}</h1>

{% endblock %}

{% block breadcrumb %}

    <div id="global-breadcrumb" class="header-context">

        <nav role="navigation">
            <ol class="group">
                <li><a href="{{ path('transform_core_app_account') }}">{% trans %}account.breadcrumb{% endtrans %}</a></li>
                <li><a href="{{ path('transform_core_app_profile_edit') }}">{% trans %}profile.breadcrumb{% endtrans %}</a></li>
                <li>{% trans %}eligibility.breadcrumb{% endtrans %}</li>
            </ol>
        </nav>
    
    </div>

{% endblock %}

{% block body %}

    <p>The Civil Service Fast Stream is open to applicants who are:</p>

    <ul class="list-bullet">
        <li>European Economic Area (EEA) nationals, including British citizens</li>
        <li>Commonwealth citizens</li>
        <li>Swiss nationals</li>
        <li>in some circumstances, Turkish nationals.</li>
    </ul>

    <div class="panel-indent">
        <p>Note that nationality requirements might vary from scheme to scheme.</p>
        <p>If you are uncertain about the nationality requirements for the options you want to apply for, please refer to the Nationality restrictions page on the Fast Stream website.</p>
    </div>

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

        {{ form_row(form.nationality_group) }}

        {{ form_row(form.immigration_group) }}

        <h3 class="heading-medium">Permission to Undertake Checks</h3>

        <p>To be accepted in to the Civil Service, applicants need to undergo a number of checks. Some of the checks below are not applicable to all schemes but we still need your permission if they should be required.</p>

        <ol class="list-number">
            <li>A check on your credit status</li>
            <li>Character enquiry checks</li>
            <li>Contact your academic referee(s) when provided</li>
            <li>Contact your employer referee(s) when provided</li>
            <li>Criminal record check</li>
            <li>Security and identity checks</li>
            <li>Significant periods abroad</li>
        </ol>

        {{ form_row(form.permissionToCheckBackground) }}

    {{ form_end(form) }}

{% endblock %}
