{% extends "::base.html.twig" %}

{% block title %}
    {% trans %}eligibility.title{% endtrans %}
{% endblock %}

{% block breadcrumb %}
    <div class="row ">
        <ol class="breadcrumb">
            <li><a href="{{ path('transform_core_app_account') }}">{% trans %}account.title{% endtrans %}</a></li>
            <li><a href="{{ path('transform_core_app_profile_edit') }}">{% trans %}profile.title{% endtrans %}</a></li>
            <li class="active">{% trans %}eligibility.title{% endtrans %}</li>
        </ol>
    </div>
{% endblock %}

{% block body %}

    <div class="row">

        <div class="col-md-12">
            <h2>{% trans %}eligibility.title{% endtrans %}</h2>
        </div>

    </div>

    <div class="row">

        <div class="col-md-12">
            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

                {{ form_widget(form) }}

            {{ form_end(form) }}
        </div>

    </div>

{% endblock %}