{% extends "::base.html.twig" %}

{% block title %}
    {% trans %}eligibility.title{% endtrans %}
{% endblock %}

{% block breadcrumb %}
    <div class="row ">
        <ol class="breadcrumb">
            <li><a href="{{ path('transform_core_app_account') }}">{% trans %}account.title{% endtrans %}</a></li>
            <li><a href="{{ path('transform_core_app_profile_edit') }}">{% trans %}profile.title{% endtrans %}</a></li>
            <li class="active">{% trans %}eligibility.title{% endtrans %}</li>
            <li><a href="{{ path('transform_core_app_education') }}">{% trans %}education.title{% endtrans %}</a></li>
            <li><a href="{{ path('transform_core_app_diversity') }}">{% trans %}diversity.title{% endtrans %}</a></li>
        </ol>
    </div>
{% endblock %}

{% block body %}

    <div class="row">

        <div class="col-md-12">
            <h3>Nationality, Immigration and Employment Restrictions</h3>
            <p>The Civil Service Fast Stream is open to applicants who are:</p>
            <ul>
                <li>European Economic Area (EEA) nationals, including British citizens</li>
                <li>Commonwealth citizens</li>
                <li>Swiss nationals</li>
                <li>in some circumstances, Turkish nationals.</li>
            </ul>

            <p>Note that nationality requirements migth vary from scheme to scheme.</p>
            <p>If you are uncertain about the nationality requirements for the options you want to apply for, please refer to the Nationality restrictions page on the Fast Stream website.</p>

            <p>What countries are members of the EEA?</p>
            <p>What countries are members of the Commonwealth?</p>
        </div>

    </div>

    <div class="row">

        <div class="col-md-12">
            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

                <h3>Your Nationality:</h3>
                {{ form_row(form.presentNationality) }}

                <h3>Immigration and Employment Restrictions:</h3>
                <p>Are you subject to immigration controls?</p>
                {{ form_row(form.subjectToImmigrationControls) }}
                {{ form_row(form.subjectToImmigrationControlsDetails) }}

                <p>Are there restrictions on your continued residence or employment in the UK?</p>
                {{ form_row(form.residencyOrEmploymentRestrictions) }}
                {{ form_row(form.residencyOrEmploymentRestrictionsDetails) }}

                <h4>Permission to Undertake Checks</h4>

                <p>To be accepted in to the Civil Service, applicants need to undergo a number of checks. Some of the checks below are not applicable to all schemes but we still need your permission if they should be required.</p>

                <ol>
                    <li>1. A check on your credit status</li>
                    <li>2. Character enquiry checks</li>
                    <li>3. Contact your academic referee(s) when provided</li>
                    <li>4. Contact your employer referee(s) when provided</li>
                    <li>5. Criminal record check</li>
                    <li>6. Security and identity checks</li>
                    <li>7. Significant periods abroad</li>
                </ol>
                {{ form_row(form.permissionToCheckBackground) }}

            {{ form_end(form) }}
        </div>

    </div>

{% endblock %}
