{% extends "::base.html.twig" %}

{% block title %}

    {% trans %}socioEconomic.title{% endtrans %}

{% endblock %}

{% block heading %}

    <p class="step">{% trans %}socioEconomic.step{% endtrans %}</p>

    <h1 class="form-title heading-large">{% trans %}socioEconomic.title{% endtrans %}</h1>

{% endblock %}

{% block breadcrumb %}

    <div id="global-breadcrumb" class="header-context">

        <nav role="navigation">
            <ol class="group">
                <li><a href="{{ path('transform_core_app_account') }}">{% trans %}account.breadcrumb{% endtrans %}</a></li>
                <li><a href="{{ path('transform_core_app_profile_edit') }}">{% trans %}profile.breadcrumb{% endtrans %}</a></li>
                <li><a href="{{ path('transform_core_app_eligibility') }}">{% trans %}eligibility.breadcrumb{% endtrans %}</a></li>
                <li><a href="{{ path('transform_core_app_account') }}">{% trans %}education.breadcrumb{% endtrans %}</a></li>
                <li><a href="{{ path('transform_core_app_diversity') }}">{% trans %}diversity.breadcrumb{% endtrans %}</a></li>
                <li>{% trans %}socioEconomic.breadcrumb{% endtrans %}</li>
            </ol>
        </nav>

    </div>

{% endblock %}

{% block body %}

    <div class="text">
        <p class="introduction">{% trans %}socioEconomic.introduction{% endtrans %}</p>
    </div>

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}
